.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  gap: 24px;
  color: white;
  font-weight: 700;
  list-style-type: none;
  font-size: 24px;
  background: linear-gradient(135deg, #ffffff, #1e3c72);
}
.link {
  color: rgb(3, 0, 34);
  font-weight: bold;
  text-decoration: none;
}
.activeLink {
  color: rgb(69, 0, 75);
}
.wrapperLinks {
  display: flex;
  gap: 10px;
  list-style: none;
}
